<section class="blog" id="blog">
  <div class="container">
    <div class="blog__img"></div>
    <div class="blog__container-content">
      <p class="blog__date">April 16 2020</p>
      <h2 class="blog__title">Blog Post One</h2>
      <p class="blog_content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
        laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque
        rerum temporibus doloribus iste maiores deleniti?
      </p>
      <button class="blog__button" type="button">Read Our Blog</button>
    </div>
  </div>
</section>
