<section class="cases">
  <div class="container">
    <div class="cases__container-contant">
      <p class="cases__do">This is what we do</p>
      <h2 class="cases__title">Business Cases</h2>
      <p class="cases__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
      </p>
    </div>
    <ul class="cases__container-gallery">
      <li class="cases__gallery-item1">
        <a
          class="cases__gallery-item-link cases__gallery-item1"
          href="../src/images/cases/cases1@2x.jpg"
          data-lightbox="roadtrip"
        ></a>
      </li>
      <li class="cases__gallery-item2">
        <a
          class="cases__gallery-item-link"
          href="../src/images/cases/cases2@2x.jpg"
          data-lightbox="roadtrip"
        ></a>
      </li>
      <li class="cases__gallery-item3">
        <a
          class="cases__gallery-item-link"
          href="../src/images/cases/cases3@2x.jpg"
          data-lightbox="roadtrip"
        ></a>
      </li>
      <li class="cases__gallery-item4">
        <a
          class="cases__gallery-item-link"
          href="../src/images/cases/cases4@2x.jpg"
          data-lightbox="roadtrip"
        ></a>
      </li>
      <li class="cases__gallery-item5">
        <a
          class="cases__gallery-item-link"
          href="../src/images/cases/cases5@2x.jpg"
          data-lightbox="roadtrip"
        ></a>
      </li>
      <li class="cases__gallery-item6">
        <a
          class="cases__gallery-item-link"
          href="../src/images/cases/cases6@2x.jpg"
          data-lightbox="roadtrip"
        ></a>
      </li>
    </ul>
  </div>
</section>
