<section class="cases">
  <div class="container">
    <div class="cases__container-contant">
      <p class="cases__do">This is what we do</p>
      <h2 class="cases__title">Business Cases</h2>
      <p class="cases__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
      </p>
    </div>
    <ul class="cases__container-gallery">
      <li class="cases__gallery-item1"></li>
      <li class="cases__gallery-item2"></li>
      <li class="cases__gallery-item3"></li>
      <li class="cases__gallery-item4"></li>
      <li class="cases__gallery-item5"></li>
      <li class="cases__gallery-item6"></li>
    </ul>
  </div>
</section>
