<section class="contacts">
  <div class="container">
    <div class="contacts__container-contant">
      <p class="contacts__do">Who we are</p>
      <h2 class="contacts__title">Our Professional Team</h2>
      <p class="contacts__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
      </p>
    </div>
    <ul class="contacts__container-gallery">
      <li class="contacts__gallery-item1 contacts__gallery-item">
        <div class="contacts__container-backdrop">
          <picture>
            <source
              srcset="./images/contacts/person1.webp 1x, ./images/contacts/person1@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./images/contacts/person1.jpg 1x, ./images/contacts/person1@2x.jpg 2x"
            />

            <img class="contacts-person" src="#" alt="person" />
          </picture>
          <div class="contacts__backdrop"></div>
        </div>
        <div class="contacts__container-contact">
          <p class="contacts__name">John Doe</p>
          <p class="contacts__position">President</p>
        </div>
      </li>
      <li class="contacts__gallery-item2 contacts__gallery-item">
        <picture>
          <source
            srcset="./images/contacts/person2.webp 1x, ./images/contacts/person2@2x.webp 2x"
            type="image/webp"
          />
          <source srcset="./images/contacts/person2.jpg 1x, ./images/contacts/person2@2x.jpg 2x" />

          <img class="contacts-person" src="#" alt="person" />
        </picture>
        <div class="contacts__container-contact">
          <p class="contacts__name">Jane Doe</p>
          <p class="contacts__position">Vice President</p>
        </div>
      </li>
      <li class="contacts__gallery-item3 contacts__gallery-item">
        <picture>
          <source
            srcset="./images/contacts/person3.webp 1x, ./images/contacts/person3@2x.webp 2x"
            type="image/webp"
          />
          <source srcset="./images/contacts/person3.jpg 1x, ./images/contacts/person3@2x.jpg 2x" />

          <img class="contacts-person" src="#" alt="person" />
        </picture>
        <div class="contacts__container-contact">
          <p class="contacts__name">Steve Smith</p>
          <p class="contacts__position">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
