<div class="form">
  <div class="container">
    <div class="form__img"></div>
    <form
      novalidate
      autocomplete="off"
      name="contact"
      id="contact"
      action="/success"
      method="POST"
      data-netlify="true"
    >
      <p class="form__header">Request Callback</p>
      <div class="form__inpute-wrapper">
        <input class="form__inpute name" name="login" type="text" placeholder=" " />
        <label class="form__label" for="">Enter your name</label>
      </div>
      <div class="form__inpute-wrapper">
        <input class="form__inpute email" id="email" name="email" type="text" placeholder=" " />
        <label class="form__label" for="">Enter email*</label>
        <p class="form__error">This is required field</p>
      </div>
      <button class="form__button" type="submit">Send</button>
    </form>
  </div>
</div>
