<div class="hero" id="home">
  <div class="container">
    <div class="header">
      <div class="logo">
        <svg class="svg__logo">
          <use href="../src/images/sprite.svg#icon-fa-solid_book-open"></use>
        </svg>
        <span class="logo__finance">Finance</span>
        <span class="logo__ledger">Ledger</span>
      </div>
      <nav class="header__nav">
        <ul class="nav__list">
          <li class="nav__list-item">
            <a class="nav__list-itemLink" href="#home">Home</a>
          </li>
          <li class="nav__list-item"><a class="nav__list-itemLink" href="#about">About</a></li>
          <li class="nav__list-item"><a class="nav__list-itemLink" href="#cases">Cases</a></li>
          <li class="nav__list-item"><a class="nav__list-itemLink" href="#blog">Blog</a></li>
          <li class="nav__list-item"><a class="nav__list-itemLink" href="#contacts">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero-mid">
      <h1 class="hero__title">The Sky Is The Limit</h1>
      <p class="hero__benefits">We provide world class financial assistance</p>
      <button class="hero__button" type="button">Read More</button>
    </div>
  </div>
</div>
