<div class="hero">
  <div class="container">
    <header class="header">
      <div class="logo"></div>
      <nav class="header__nav">
        <ul class="nav__list">
          <li class="nav__list-item"><a class="nav__list-itemLink" href="">Home</a></li>
          <li class="nav__list-item"><a class="nav__list-itemLink" href="">About</a></li>
          <li class="nav__list-item"><a class="nav__list-itemLink" href="">Cases</a></li>
          <li class="nav__list-item"><a class="nav__list-itemLink" href="">Blog</a></li>
          <li class="nav__list-item"><a class="nav__list-itemLink" href="">Contact</a></li>
        </ul>
      </nav>
    </header>
    <h1 class="hero__title">The Sky Is The Limit</h1>
  </div>
</div>
