form {
  padding: 40px 20px;
  background: #f4f4f4;
  color: #333333;
  width: 100%;
}
.form__img {
  position: relative;
  min-height: 220px;
  background-image: -webkit-image-set(
    url('../images/form/contact.webp') 1x,
    url('../images/form/contact@2x.webp') 2x,
    url('../images/form/contact.jpg') 1x,
    url('../images/form/contact@2x.jpg') 2x
  );
  background-image: image-set(
    url('../images/form/contact.webp') 1x,
    url('../images/form/contact@2x.webp') 2x,
    url('../images/form/contact.jpg') 1x,
    url('../images/form/contact@2x.jpg') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form__header {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 32px;
}
.form__inpute-wrapper {
  position: relative;
  &:hover .form__label {
    top: -30%;
    left: 0;
  }
}
.form__label {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #808080;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.form__inpute:focus + .form__label,
.form__inpute:not(:placeholder-shown) + .form__label {
  top: -30%;
  left: 0;
}
.form__inpute {
  position: relative;
  padding-left: 8px;
  border: none;
  display: block;
  height: 40px;
  width: 100%;
}
.form__inpute.name {
  margin-bottom: 32px;
}
.form__inpute.email {
  margin-bottom: 40px;
}
.form__error {
  display: block;
  top: 100%;
  position: absolute;
  color: red;
  opacity: 0;
  padding-left: 18px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url(../images/form/worning.svg);
    background-size: cover;
    width: 18px;
    height: 17px;
    transform: translateY(-40%);
  }
}
.form__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  background: #28a745;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .form .container {
    display: flex;
  }

  .form__img {
    min-width: 48%;
    height: 354px;
  }
}
@media screen and (min-width: 1360px) {
  .form__img {
    min-width: 49%;
    height: 454px;
  }
  form {
    padding: 80px 50px 80px 20px;
  }
}
