.form__img {
  position: relative;
  min-height: 220px;
  background-image: -webkit-image-set(
    url('../images/form/contact.webp') 1x,
    url('../images/form/contact@2x.webp') 2x,
    url('../images/form/contact.jpg') 1x,
    url('../images/form/contact@2x.jpg') 2x
  );
  background-image: image-set(
    url('../images/form/contact.webp') 1x,
    url('../images/form/contact@2x.webp') 2x,
    url('../images/form/contact.jpg') 1x,
    url('../images/form/contact@2x.jpg') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
